<suite name = "Functional tests">

    <parameter name="OS" value="Windows"/>
    <parameter name="browser" value="Chrome"/>

    <test name = "Onliner catalog tests">
        <classes>
            <class name="by.onliner.test.suites.functional.RadiocontrolAirTest"/>
            <class name = "by.onliner.test.suites.functional.QuadrocopterSearchResultsTest"/>
        </classes>
    </test>
</suite>